# Copyright (c) 2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#==========================fingerprintd================================
allow fingerprintd iqfp_service:service_manager find;
binder_call(fingerprintd, qfp-daemon);

#========================== Add platform related sepolicy==============
# Fingerprint device
type fpc1020_device, dev_type;
type fpc_data_file, file_type, data_file_type;
type fpc_images_file, file_type, data_file_type;
type sysfs_fpc_irq, fs_type, sysfs_type;

# add for fingerprint android M extension
#allow system_app fingerprint_service:service_manager add;

# sysfs directory file
type sysfs_fingerprintd, fs_type, sysfs_type;

allow fingerprintd fpc1020_device:chr_file rw_file_perms;
allow fingerprintd sysfs:file rw_file_perms;
allow fingerprintd system_data_file:dir w_dir_perms;

# Only for debug image usage,so mask it when use image collection tool setenforce 0 manually 
allow fingerprintd fpc_images_file:dir { open read write create unlink rename getattr remove_name add_name search};
allow fingerprintd fpc_images_file:file { open read write create unlink rename getattr };
allow fingerprintd persist_file:dir create_dir_perms;
allow fingerprintd persist_file:file create_file_perms;
allow fingerprintd persist_drm_file:dir create_dir_perms;
allow fingerprintd persist_drm_file:file create_file_perms;
#allow fingerprintd tee_device:chr_file { read write ioctl open };
allow fingerprintd fpc_data_file:dir { read write create unlink rename getattr remove_name add_name search};
allow fingerprintd fpc_data_file:file { read write create unlink rename getattr };
allow fingerprintd fpc_data_file:sock_file { read write create unlink };
allow system_app fpc_data_file:sock_file { read write create unlink };
allow system_app fpc_data_file:dir { read write create unlink rename getattr remove_name add_name search};
allow fingerprintd sysfs_fpc_irq:file rw_file_perms;
allow fingerprintd sysfs_wake_lock:file { open write };
#allow fingerprintd firmware_file:file { open read getattr };

#unix_socket_connect(system_app, fpce, fingerprintd)
allow system_app fingerprintd:fd use;
allow system_app fingerprintd:unix_stream_socket rw_socket_perms;

allow system_app fingerprint_service:service_manager add;

# Access to tee_device
allow fingerprintd tee_device:chr_file rw_file_perms;

# Access to firmware_file
r_dir_file(fingerprintd, firmware_file)

# Add for fingerprint
r_dir_file(gatekeeperd, firmware_file)

#add for android M fingerprint extension
allow system_app fingerprintd:unix_stream_socket connectto;
