allow fingerprintd fingerprintd:netlink_socket {create bind write read};
allow fingerprintd power_service:service_manager {find};
allow fingerprintd fingerprint_service:service_manager {find};
